<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<head>
	<style>
	.selected {
		background-color: #eafff9;
	}
	</style>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
		<h1 class="text-center">Score: {{ score }} Target: {{ target }} </h1>
		<br>
<!--  	<canvas id="seed"></canvas>
 --> 	<div ng-repeat="model in modelNames">
 		<div class="col-xs-2">
 			<br>
	 		<button><span class="glyphicon glyphicon-chevron-up" style="float:left;cursor:pointer;" aria-hidden="true" ng-click="getNext(model, '-')"></span></button>
	 		<br>
		 	<button><span class="glyphicon glyphicon-chevron-down" style="float:left;cursor:pointer;" aria-hidden="true" ng-click="getNext(model, '+')"></span></button>
 		</div>
 		<div class="col-xs-10">
 			<canvas style="border-radius:5px;" ng-click="select(model, false)" id="model_{{model}}"></canvas>
 		</div>
 		<br>
 	</div>

</div>

<script src="highliht.js"></script>


</body>
</html>